button{
    width:200px;
    height:30px;
    color:black;
    background-color: lightcoral;
    border-radius: 50px;
}
h1,h2{
    color:#DC586D;
}
.a{
    background-color: white;
    color:#82c8b8;
    height:50px;
    border: 5px solid #385170;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:15px;
    font-size: 26px;


}
.b{
    background-color: beige;
    color:#803E2F;
    height:20px;
    border: 10px solid #3E3D38;
    margin:15px;
    padding:10px;
}

.c{
    background-color: white;
    border-radius: 50px;
    border:10px solid #DC586D;
    padding:20px;
    margin: 5px;
    color: #FB9590;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.d{
    background-color: #0B1957;
    font-size: 26px;
    border: 3px dashed #E8D9ED;
    margin:15px;
    padding:20px;
    color:#F7F4ED;
}
.p{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#i,#j{
    background-color: #0B1957;
    color:azure;

}
#show{
    display:none;
}
#change{
    margin-right: 10px;
}
#e{
    background-color: #D2B3DB;
    padding:30px;
}
#f{
    background-color: #A33757;
    padding:30px;
}
#g{
    background-color: #1F1D20;
    padding:30px;
}
#h{
    background-color:#142d4c;
    padding:30px;
}
#hide{
    display: block;
}